/* VARIABELS */

$font-teko: 'Teko', sans-serif;
$font-josefin-sans: 'Josefin Sans', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;
$font-caprasimo: 'Caprasimo', cursive;

/* COLORS */

$color-black: black;
$color-white: white;

$color-easy: green;
$color-basic: gold;
$color-moderate: red;

/* MAIN */

.body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/partytime.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  font-family: 'Caprasimo', cursive;
}

/* NAVIGATION */

.navigation {
  background-color: rgba(0, 0, 0, 0);
  padding: 10px 0;
  text-align: center;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation ul li {
  display: inline-block;
  margin-right: 20px;
}

.navigation ul li:last-child {
  margin-right: 0;
}

.navigation ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 4px;
}

.navigation ul li a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* CATEGORY */

.films {
  text-align: center;
  position: relative;
  font-size: 35px;
  margin-bottom: 0;
  font-family: 'Josefin Sans', sans-serif;
}

.actors {
  text-align: center;
  position: relative;
  font-size: 35px;
  margin-bottom: 0;
  font-family: 'Josefin Sans', sans-serif;
}

.category {
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  padding: 40px;
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

/* BUTTONS */

.image-btn {
  display: block;
  width: 220px;
  height: 80px;
  margin: 20px auto;
  text-align: center;
  font-size: 16px;
  color: black;
  border: 3px solid #000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-weight: bold;
}

.ask-btn {
  display: block;
  width: 220px;
  height: 80px;
  margin: 20px auto;
  text-align: center;
  font-size: 16px;
  color: black;
  border: 3px solid #000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-weight: bold;
}

.voice-btn {
  display: block;
  width: 220px;
  height: 80px;
  margin: 20px auto;
  text-align: center;
  font-size: 16px;
  color: black;
  border: 3px solid #000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-weight: bold;
}

/* COLORS BUTTONS */

.easy {
  background-color: $color-easy;
}
  
.basic {
  background-color: $color-basic;
}
  
.moderate {
  background-color: $color-moderate;
}

/* POINTS */

.points {
  display: block;
  font-size: 15px;
  color: black;
  //margin-top: 5px;
  font-weight: bolder;
}

/* END TASK BUTTON */

.used {
  background-color: gray !important;
  cursor: not-allowed;
}

/* ADD TEAM BUTTON */

.add-team-btn {
  display: block;
  width: 220px;
  height: 80px;
  margin: 20px auto;
  text-align: center;
  font-size: 16px;
  color: black;
  border: 3px solid #000;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-weight: bold;
}

/* ADD TEAM */

.add-team-section {
  text-align: center;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
  
.team-container {
  margin-right: 50px;
  margin-bottom: 10px;
  padding: 10px;
}

.team-icons {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.team-icons i {
  font-size: 25px;
  margin: 0 3px;
  color: green;
  padding: 3px;
}

/* GAMES RULES */

.game-rules {
  font-weight: bold;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
}

/* CHALLANGES */

.challenge-section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px; /* Dodatkowy odstęp między nawigacją a sekcją wyzwań */
}

.challenge-box {
  display: none; /* Początkowo ukryj pudełka */
  width: 100px;
  height: 80px;
  margin: 10px;
  padding: 10px;
  border: 3px solid #000;
  text-align: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  color: #000;
}

.challenge-box .challenge-text {
  display: none;
  font-size: 10px;
  //font-family: 'Josefin Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
  //font-family: 'Caprasimo', cursive;
  padding-top: 5px;
  color: black;
  font-weight: bold;
}

.challenge-box.show {
  display: block;
}

.challenge-box.completed {
  background-color: red;
  cursor: not-allowed;
}

.action-display1 {
  text-align: center;
}

.action-display2 {
  text-align: center;
}

.action-display1 h4 {
  text-align: center;
  margin-top: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 50px;
  border-radius: 10px;
  border: 3px solid #000;
  color: $color-white;
  padding-top: 50px;
  padding-bottom: 50px;
  color: $color-black;
}

.action-display2 h4 {
  text-align: center;
  margin-top: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 50px;
  border-radius: 10px;
  border: 3px solid #000;
  color: $color-white;
  padding-top: 50px;
  padding-bottom: 50px;
}